.kiviatSummaryDiv
{
    box-sizing: border-box;
    height: 100%;
}

#kiviatSummaryHeader
{
    height: 20%;

    background-color: white;
}

.attribute-dropdown-wrapper
{
    height: 50%;

    padding: 5px;

    text-align: center;
}

#kiviatSummary-colorLegend
{
    height: 100%;

    // background-color: pink;
}

#kiviatSummary
{
    height: 80%;

    background-color: white;
}

.stop-left
{
    stop-color: #d18161;
}

.stop-middle
{
    stop-color: #ba89b9;
}

.stop-right
{
    stop-color: #70a4c2;
}

.filled
{
    fill: url(#legendGradient);
}

.axisTooltipCircle,
.centerTooltipCircle
{
    fill: lightgray;
    stroke: lightgray;
}

// .kiviatPath,
// .axisLine
// {
//     pointer-events: none;
// }
