.sliceDiv {
  box-sizing: border-box;
  height: 100%;
}

.timeDiv {
  margin: 0;
  // height: 100%;
}

#timeSliderLeft {
  height: 25%;
}

#timeSliderRight {
  height: 25%;
}

.imageDiv {
  margin: 0 0 5px 0;
  // height: 100%;
}

#imageSliceLeft {
  height: 100%;
}

#imageSliceRight {
  height: 100%;
}


.mosaicMatrix {
  margin: 5px 5px 0 0;
  height: 48%;
}

#mosaicMatrixLeft-Up {
  height: 100%;
}

#mosaicMatrixLeft-Bottom {
  height: 100%;
}

#mosaicMatrixRight-Up {
  height: 100%;
}

#mosaicMatrixRight-Bottom {
  height: 100%;
}


#sliceControl {
  margin: 0 5px 5px 10px;
  height: 100%;
}

#subSelection {
  margin: 0 0 0 15px;
}

#zoomSize{
  margin: 0 10px 0 0;
  height: 12%;
  background-color: white;
}

#dynamicCommunity {
  margin: 0;
  height: 20%;
  background-color: white;
}

// #communityBehavior {
//   margin: 0;
//   height: 10%;
// }

#nodeDegree {
  margin: 0;
  height: 6%;
  background-color: white;
}

.noDegLegend-left {
  stop-color: #deebf7;
}

.noDegLegend-middle {
  stop-color: #6baed6;
}

.noDegLegend-right {
  stop-color: #08306b;
}

.noDegLegend-filled {
  fill: url("#noDegLegendGradient");
}
