.sliceDiv {
  box-sizing: border-box;
  height: 100%;
}

.mosaicMatrix {
  margin: 0 0 5px 0;
  height: 24%;
}

.imageDiv {
  margin: 0 0 5px 0;
  height: 80%;
}

.timeDiv {
  margin: 5px 0 0 0;
  height: 20%;
}

#imageSliceLeft {
  height: 100%;
}

#imageSliceRight {
  height: 100%;
}

#sliceControl {
  height: 100%;
}
